{% extends "base.html" %}

{% block content %}
    <h1>파일 목록</h1>
    {% if readme_content %}
    <div class="readme-box">
        <div>{{ readme_content | safe }}</div>
    </div>
    {% endif %}
    <ul>
        {% if has_parent %}
        <li class="back-to-parent">
            <a href="{{ url_for('list_files', path=parent_path) }}" class="directory">
                <i class="fas fa-arrow-up"></i> .. (상위로 가기)
            </a>
        </li>
        {% endif %}
        {% for file, is_dir in file_info %}
            <li>
                {% if is_dir %}
                    <a href="{{ url_for('list_files', path=(current_path + '/' + file) if current_path else file) }}" class="directory">{{ file }}/</a>
                {% else %}
                    <a href="{{ url_for('download_file', path=(current_path + '/' + file) if current_path else file) }}">{{ file }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    {% if not is_root %}
    <a href="{{ url_for('redirect_to_dl') }}" class="back-to-top">
        <i class="fas fa-arrow-up"></i> 처음으로
    </a>
    {% endif %}
{% endblock %}