{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}?_={{ timestamp }}">
    <div class="login-container">
        <h1>로그인</h1>
        <div class="form-box">
            <form id="loginForm" action="{{ url_for('login') }}" method="post">
                <div class="input-box">
                    <input type="text" name="username" placeholder="사용자명" required>
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="비밀번호" required>
                </div>
                <button type="submit">확인</button>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('loginForm').onsubmit = async function(event) {
            event.preventDefault();  // 기본 폼 제출 방지
            
            const formData = new FormData(this);
            const response = await fetch('{{ url_for("login") }}', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const data = await response.json();
                const token = data.access_token;  // JWT 가져오기

                // JWT를 로컬 스토리지에 저장
                localStorage.setItem('access_token', token);

                // 쿠키에 저장
                document.cookie = "access_token=" + token + "; path=/;";
                console.log(`성공: token=${token}`);

                // 로그인 후 리다이렉트 (예: 대시보드 페이지)
                const file_path = ''
                window.location.href = '{{ url_for("list_files", path=file_path) }}';
            } else {
                console.error('로그인 실패');
                // const errorData = await response.json();
                // console.error('로그인 실패: ' + errorData.detail);
                const loginContainer = document.querySelector('.login-container');
                loginContainer.classList.add('shake'); // 흔들림 클래스 추가

                // 애니메이션이 끝난 후 클래스 제거
                setTimeout(() => {
                    loginContainer.classList.remove('shake');
                }, 500); // 애니메이션 지속 시간과 동일하게 설정
            }
        };
    </script>
{% endblock %}