aiohttp==3.11.10
aioredis==2.0.1
altair==5.5.0
beautifulsoup4==4.12.3
cryptography==42.0.4
deep_translator==1.11.4
fake_useragent==1.5.1
fastapi==0.115.6
Flask==3.1.0
googletrans==4.0.0rc1
httpx==0.28.1
kakaotrans==0.1.2
keycloak==3.1.5
lxml==5.1.0
matplotlib==3.10.0
nest_asyncio==1.6.0
numpy==2.2.1
paho_mqtt==2.1.0
pandas==2.2.3
passlib==1.7.4
pdf2image==1.17.0
Pillow==11.1.0
playwright==1.47.0
playwright_stealth==1.0.6
pydantic==2.10.5
pygame==2.6.0
pygwalker==0.4.9.13
PyJWT==2.8.0
PyJWT==2.10.1
pytesseract==0.3.13
python-dotenv==1.0.1
python-telegram-bot==21.10
python_jose==3.3.0
python_magic==0.4.27
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
selenium==4.27.1
SQLAlchemy==2.0.23
starlette==0.45.2
torch==2.5.1
torchvision==0.20.1
urllib3==2.3.0
user_agents==2.2.0
uvicorn==0.34.0
yfinance==0.2.51
