* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 최소 높이를 100%로 설정 */
}
footer {
    background-color: #f1f1f1; /* 배경색 */
    padding: 20px 20px 20px 50px; /* 안쪽 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-top: auto; /* 상단 요소가 늘어날 때 푸터가 아래로 밀려나도록 설정 */
    position: relative;
}
h1 {
    font-size: 1.6em;           /* 큰 글꼴 크기 */
    font-weight: bold;          /* 글꼴 두께를 굵게 */
    color: #333;                /* 텍스트 색상 */
    text-align: center;         /* 좌측 정렬 */
    margin: 0px 0px 0px 0px;            /* 위아래 여백 */
    padding: 20px 20px 20px 0px; /* 안쪽 여백 */
    border-bottom: 2px solid #ccc; /* 아래 경계선 추가 */
    text-transform: uppercase;  /* 대문자로 변환 */
    letter-spacing: 1px;       /* 글자 간격 조정 */
    font-family: 'Arial', sans-serif; /* 글꼴 패밀리 */
    background-color: #f9f9f9; /* 배경 색상 */
}
.month-picker {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    margin: 20px 0; /* 여백 추가 */
}
.month-picker label {
    font-size: 1.2em; /* 레이블 크기 조정 */
    color: #555; /* 레이블 색상 */
    margin-bottom: 8px; /* 레이블과 입력 필드 간 여백 */
    text-align: center; /* 레이블 중앙 정렬 */
}
#monthSelect {
    padding: 10px; /* 안쪽 여백 */
    font-size: 1em; /* 글꼴 크기 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 모서리 둥글게 */
    width: 100%; /* 부모 요소에 맞게 너비 조정 */
    max-width: 300px; /* 최대 너비 제한 */
    transition: border-color 0.3s; /* 테두리 색상 변화에 애니메이션 추가 */
    margin: 0 auto; /* 수평 중앙 정렬 */
}

#monthSelect:focus {
    border-color: #007BFF; /* 포커스 시 테두리 색상 변경 */
    outline: none; /* 기본 아웃라인 제거 */
}
#vis {
    margin: 20px 0;
    text-align: center; /* 중앙 정렬 */
}
.vega-embed {
    width: 100% !important; /* 강제로 너비를 100%로 설정 */
    height: auto !important; /* 높이를 자동으로 조정 */
}
.vega-embed .chart-wrapper {
    width: 100% !important; /* 차트 래퍼의 너비를 100%로 설정 */
    text-align: center;
}
.vega-embed-wrapper {
    max-width: 100% !important; /* 최대 너비를 100%로 설정 */
    height: auto;
    overflow: hidden; /* 오버플로우 숨기기 */
}
.chart-container {
    max-width: 100%; /* 최대 너비를 100%로 설정 */
    margin: auto; /* 중앙 정렬 */
    padding: 10px; /* 여백 추가 */
}

#summary {
    background-color: #f9f9f9; /* 연한 회색 배경 */
    border: 1px solid #ddd; /* 연한 회색 테두리 */
    border-radius: 8px; /* 모서리를 둥글게 */
    padding: 20px; /* 내부 여백 */
    margin: 0px auto 0; /* 위쪽 20px, 좌우 자동, 아래쪽 0px */
    max-width: 300px; /* 최대 너비 설정 */
    width: 100%; /* 너비를 100%로 설정하여 모바일에서 반응형 유지 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    text-align: left; /* 내부 텍스트 중앙 정렬 */
}
h2 {
    color: #333; /* 제목 색상 */
    font-family: 'Arial', sans-serif; /* 글꼴 설정 */
    margin-bottom: 15px; /* 제목 아래 여백 */
}
ul {
    list-style-type: none; /* 기본 리스트 스타일 제거 */
    padding: 0; /* 내부 여백 제거 */
}
li {
    background-color: #fff; /* 리스트 항목 배경 색상 */
    border: 1px solid #e0e0e0; /* 리스트 항목 테두리 */
    border-radius: 4px; /* 모서리 둥글게 */
    padding: 10px; /* 내부 여백 */
    margin-bottom: 10px; /* 리스트 항목 간 여백 */
    transition: background-color 0.3s; /* 배경 색상 변화 효과 */
}
li:hover {
    background-color: #f0f8ff; /* 호버 시 배경 색상 변화 */
}
strong {
    color: #007bff; /* 강조 텍스트 색상 */
}
