body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* 연한 파란색 배경 */
    color: #333; /* 기본 텍스트 색상 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0; /* 기본 마진 제거 */
}

h1 {
    color: #4a90e2; /* 제목 색상 */
    font-size: 2rem; /* 반응형 제목 크기 */
    margin-bottom: 20px;
}

button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px; /* 곡률 설정 */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%; /* 버튼 폭을 100%로 설정 */
    max-width: 720px; /* 최대 너비 설정 */
}

button:disabled {
    background-color: gray; /* 비활성화 상태의 배경색 */
    cursor: not-allowed; /* 커서 변경 */
}

ul {
    list-style-type: none;
    padding: 15px 0;
    width: 100%;
    max-width: 720px; /* 최대 너비 설정 */
    margin: 0; /* 기본 마진 제거 */
}

li {
    position: relative; /* 버튼 위치 조정을 위해 relative 설정 */
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px; /* 곡률 설정 */
    transition: color 0.3s, background-color 0.3s;
    word-wrap: break-word; /* 긴 단어 줄 바꿈 */
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽 영역을 나누기 위해 사용 */
}

.message-container {
    flex: 1; /* 메시지 영역이 가능한 공간을 차지하도록 설정 */
    padding-top: 7px;
    padding-right: 10px; /* 오른쪽 버튼과 간격을 위해 패딩 추가 */
}

.button-container {
    display: flex; /* 버튼들을 세로로 정렬 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: flex-end; /* 오른쪽 정렬 */
    gap: 1px; /* 버튼 사이 간격을 1px로 설정 */
    padding-top: 0; /* 상단 패딩 0으로 설정 */
}

.copy-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 0; /* 버튼의 최상단 정렬을 위해 마진 제거 */
    transition: background-color 0.3s; /* 배경색 변화에 대한 트랜지션 추가 */
}

.copy-btn:hover, .delete-btn:hover {
    background-color: transparent; /* 호버 시 배경을 투명으로 설정 */
    color: #000; /* 호버 시 글자색 변경 */
}

/* 부서지는 효과를 위한 CSS */
@keyframes shatter {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* 부서지는 효과를 위한 CSS */
@keyframes shatter {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    30% {
        transform: scale(1.1) rotate(10deg);
        opacity: 0.8;
    }
    60% {
        transform: scale(0.9) rotate(-10deg);
        opacity: 0.5;
    }
    100% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }
}

.shatter {
    animation: shatter 0.5s forwards; /* 500ms 동안 애니메이션 효과 */
}

/* 테두리 애니메이션 */
@keyframes fadeOutBorder {
    0% {
        border: 1px solid black;
    }
    100% {
        border: none;
    }
}

.border-fade {
    animation: fadeOutBorder 5s forwards; /* 5초 동안 애니메이션 효과 */
}