<!DOCTYPE html>
<html lang="ko">
<head>
  <title>{{ title | safe }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}?_={{ timestamp }}">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega-lite@5.20.1"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>
  <h1>{{ title | safe }}</h1>

  <div class="month-picker">
    <input type="month" id="monthSelect" name="month" min='{{min_month}}' max='{{max_month}}' value='{{selectedMonth}}' required>
  </div>

  <div id="vis"></div>
  <footer>
    <p>기상청 동네예보 ({{min_month}} ~ {{max_month}})</p>
  </footer>
  <script>
    (function(vegaEmbed) {
      const width = window.innerWidth;
      const spec = {{ chart | safe }}
      spec.config.view = {
        continuousHeight: 200,
        continuousWidth: width - 100 // 현재 페이지의 넓이를 사용
      };
      const embedOpt = {"mode": "vega-lite"};

      function showError(el, error){
          el.innerHTML = ('<div style="color:red;">'
                          + '<p>JavaScript Error: ' + error.message + '</p>'
                          + "<p>This usually means there's a typo in your chart specification. "
                          + "See the javascript console for the full traceback.</p>"
                          + '</div>');
          throw error;
      }
      const el = document.getElementById('vis');
      vegaEmbed("#vis", spec, embedOpt)
        .catch(error => showError(el, error));
      
      // 창 크기 조정 시 차트 크기 조정
      window.addEventListener('resize', function() {
        vegaEmbed("#vis", spec, embedOpt)
            .catch(error => showError(el, error));
      });

      document.getElementById('monthSelect').addEventListener('change', function() {
        const selectedMonth = document.getElementById('monthSelect').value;
        if (selectedMonth) {
          location.href='/past-weather/songak/' + selectedMonth.replace('-', '/');
        }
      });

    })(vegaEmbed);

  </script>
</body>
</html>