<script>
		function hideAllElements() {
				// 모든 요소를 숨기는 함수
				// 모든 요소를 선택
				const allElements = document.querySelectorAll('*');
				
				// 각 요소에 대해 display: none; 적용
				allElements.forEach(element => {
						element.style.display = 'none';
				});
		}

		function showAllElements() {
				// 모든 요소를 다시 보이게 하는 함수
				// 모든 요소를 선택
				const allElements = document.querySelectorAll('*');

				// 각 요소에 대해 display 속성을 원래 상태로 적용
				allElements.forEach(element => {
						element.style.display = '';  // ""로 설정하면 원래의 display 속성이 유지됨
				});
		}

    function isKakaoBrowser() {
        return /KAKAOTALK/i.test(navigator.userAgent);
    }

    function getRedirectPath() {
        const params = new URLSearchParams(window.location.search);
        return params.get('r'); // 'redirect' 파라미터의 값을 가져옴
    }

    // 페이지가 로드되면 자동으로 실행됩니다.
		hideAllElements()
    window.onload = function() {
        const redirectPath = getRedirectPath(); // redirect 파라미터 값 가져오기
        if (!redirectPath) {
					showAllElements();
					return;
				}

        let targetUrl = new URL(window.location.origin); // 현재 도메인으로 생성
        targetUrl.pathname = redirectPath; // redirectPath를 경로로 설정

        if (isKakaoBrowser()) {
            targetUrl = 'kakaotalk://web/openExternal?url=' + encodeURIComponent(targetUrl.href);
        } else {
            targetUrl = targetUrl.href; // 일반 URL을 사용
        }

        location.href = targetUrl; // 리다이렉트
    }
</script>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>토이 프로젝트</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='image/profile-thumbnail.png') }}" alt="프로필 이미지" class="profile-image">
        <h1>Toy Projects
            <p class="description">Spring Boot 및 Python 기반 웹개발자</p>
        </h1>
    </header>
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <img src="{{ url_for('static', filename='image/recrute-thumbnail.jpg') }}" alt="프로젝트 이미지">
                <h3>리쿠르팅 통계</h3>
            </div>
            <div class="card-body">
                <p class="description">
                    월간 직원연락망.xls 분석으로 만든 통계용 챠트
                    <div class="tech">Flask, pandas, matplotlib, seaborn 사용</div>
                </p>
                <a href="https://a1.mkeasy.kro.kr/hr_list" target="_new">바로가기</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="{{ url_for('static', filename='image/file-server-thumbnail.jpg') }}" alt="프로젝트 이미지">
                <h3>파일 다운로드</h3>
            </div>
            <div class="card-body">
                <p class="description">
                    개인용 파일 다운로드(타입별 인라인 보기) 지원
                    <div class="tech">FastAPI, pydantic, oAuth2, cookie, redis, middleware 사용</div>
                </p>
                <a href="https://a1.mkeasy.kro.kr/v1" target="_new">바로가기</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="{{ url_for('static', filename='image/famous-quotes-thumbnail.jpg') }}" alt="프로젝트 이미지">
                <h3>명언 카드</h3>
            </div>
            <div class="card-body">
                <p class="description">
                    명언 API 서버 제작 및 한글 해석, 공유기능 제공
                    <div class="tech">FastAPI, SQLAlchemy, PostgreSQL, websocket, mqtt, deep-L translator 사용</div>
                </p>
                <a href="https://a1.mkeasy.kro.kr/chat/" target="_new">바로가기</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="{{ url_for('static', filename='image/past-weather-thumbnail.jpg') }}" alt="프로젝트 이미지">
                <h3>송악읍 과거 날씨</h3>
            </div>
            <div class="card-body">
                <p class="description">
                    송악읍 공공데이터 자료 이용, 총10년치(380,436건)자료 처리
                    <div class="tech">고속 데이터 전처리(결측치,이상치), FastAPI, pandas, SQLAlchemy, PostgreSQL 사용</div>
                </p>
                <a href="https://a1.mkeasy.kro.kr/past-weather" target="_new">바로가기</a>
            </div>
        </div>
        <!-- 추가 카드 -->
    </div>
    <footer>
        <a href="mailto:minho0883.lee@gmail.com">@minho0883.lee</a>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
