<script src="{{ url_for('static', filename='js/exit_kakao.js') }}"></script>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>토이 프로젝트</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <a href="/skill">
            <img src="{{ url_for('static', filename='image/profile-thumbnail.png') }}" alt="프로필 이미지" class="profile-image">
        </a>
        <h1>Toy Project
            <a href="/skill">
                <p class="description">Spring Boot 및 Python 기반 웹개발자</p>
            </a>
        </h1>
    </header>
    <div class="main-content">
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <img src="{{ url_for('static', filename='image/recrute-thumbnail.png') }}" alt="프로젝트 이미지">
                    <h3>리쿠르트 통계</h3>
                </div>
                <div class="card-body">
                    <p class="description">
                        월간 직원연락망.xls 분석으로 만든 통계용 챠트
                        <div class="tech">사용기술 : Flask, pandas, matplotlib, seaborn</div>
                    </p>
                    <a href="https://a1.mkeasy.kro.kr/hr_list" target="_new">바로가기</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="{{ url_for('static', filename='image/file-server-thumbnail.png') }}" alt="프로젝트 이미지">
                    <h3>파일 서버</h3>
                </div>
                <div class="card-body">
                    <p class="description">
                        개인용 파일 서버 및 SSO 인증 처리
                        <div class="tech">사용기술 : FastAPI, pydantic, keycloak, cookie, redis, middleware</div>
                    </p>
                    <a href="https://a1.mkeasy.kro.kr/v1" target="_new">바로가기</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="{{ url_for('static', filename='image/famous-quotes-thumbnail.png') }}" alt="프로젝트 이미지">
                    <h3>명언 카드</h3>
                </div>
                <div class="card-body">
                    <p class="description">
                        명언 API 서버 구현, 한글 해석 및 공유기능 제공
                        <div class="tech">사용기술 : FastAPI, SQLAlchemy, PostgreSQL, websocket, mqtt, deep-L translator</div>
                    </p>
                    <a href="https://a1.mkeasy.kro.kr/chat/" target="_new">바로가기</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="{{ url_for('static', filename='image/past-weather-thumbnail.png') }}" alt="프로젝트 이미지">
                    <h3>송악읍 과거 날씨</h3>
                </div>
                <div class="card-body">
                    <p class="description">
                        공공데이터 시계열 자료 사용, 10년치(380,436건)
                        <div class="tech">사용기술 : 고속 데이터 전처리, FastAPI, pandas, SQLAlchemy, PostgreSQL, vega-lite</div>
                    </p>
                    <a href="https://a1.mkeasy.kro.kr/past-weather" target="_new">바로가기</a>
                </div>
            </div>
            <!-- 추가 카드 -->
        </div>
    </div>
    <footer>
        <a href="mailto:minho0883.lee@gmail.com">@minho0883.lee</a>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
